body{
    margin:0;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    font-family:Arial;
    background:#667eea;
}
form{
    width:350px;
    padding:25px;
    background:white;
    border-radius:12px;
    box-shadow:0 5px 20px #3335;
}
h2{text-align:center;color:#4b45a8}
input,select,button{
    width:100%;
    padding:10px;
    margin:6px 0;
    box-sizing:border-box;
}
input[type=radio],input[type=checkbox]{width:auto}
button{
    border:0;
    background:#4b45a8;
    color:white;
    border-radius:5px;
}
.error{color:red;font-size:12px}
#success{
    display:none;
    color:green;
    text-align:center;
    margin-top:10px;
}
